<!-- Turn this file into the MAS web application1 web.xml file -->
<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Market Analysis System Application</display-name>
    <description>
	A servlet-based application that delegates data requests from MAS
	client applets to the MAS server
    </description>

    <servlet>
        <servlet-name>MAS_Servlet</servlet-name>
        <servlet-class>mas.MAS</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MAS_Servlet</servlet-name>
        <url-pattern>/mas</url-pattern>
    </servlet-mapping>

</web-app>
