EIFGENs/
doc/ec_options
eifgens/
.*.sw[op]
indicators_persist*
generators_persist*
mas_dbrc
src/eiffel_library
Makefile
*.o
*.orig
*.csv
*.txt
*.foo
*.try*
*.old
src/server1/spec/
src/server1/test/mas.melted
tags
src/clients/ruby/
doc/applications/lookup.pl
*_hide*/
hide_*/
curfiles
curdirs
mas_httprc
m*files
mk2*
current-*
*-files*
*remove
*.ecf.*
src/server1/test/artifacts/
src/server1/test/errors*
hold/
*tmp
work/java/
work/releases/
/scripts/
/src/scripts/*
!/src/scripts/external/
/src/server1/test/test_*
test*-wk
test*fails
save/
