/*
	date: "$Date$";
	revision: "$Revision$"
*/
body { background-color: #e9dcd5; }
.quote {
   font-style:italic;
   font-family:serif;
   font-size:90%;
}
.two_part {
	border: none;
	margin: 0 0 1em 0;   /* for wide content */
    padding: 0;
	/*
    height: 4em;
	*/
    text-align: left;
	/*
    width: auto;
	*/
}
.two_part, .left_part, .right_part {
	/*
	font-size: 90%;
	font-style: italic;
	*/
	padding: 0;
	/*
	position: relative;
	*/
}
.left_part {
	background-color: #e9dcd5;
	font-size: 85%;
	float: left;
	margin-top: 3.5em;
	margin-left: 0.5em;
	height: 100%
	width: 25%
}
.right_part {
	background-color: #e9dcd5;
	font-size: 90%;
	float: right;
	margin: 1em 1em 0 0;
	width: 74%;
}
.vwide { width: 2000px; }
.smallish { font-family:sans-serif; font-size: 70% }
.medium { font-size: 80% }
.large { font-size: 110% }
.verylarge { font-size: 160% }
.centeraligned {text-align:center}
.justified {text-align:justify}
.leftaligned {text-align:left}
.rightaligned {text-align:right}
h1 {
	margin-top: 0cm; margin-bottom: 0cm; border-bottom: none;
	border-left: none; border-right: none; padding-top: 0.04cm;
	padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm;
	color: #000000; text-align: center; widows: 2; orphans: 2;
	font-size: 140%
}
h2 {
	font-family: "Times New Roman", serif; font-size: 110%; so-language: en-US;
}
h3 {
	font-family: "Times New Roman", serif; font-size: 90%; so-language: en-US
}
