/*
	date: "$Date$";
	revision: "$Revision$"
*/
body { background-color: #eadfbd; }
:link { color: blue; }
:visited { color: purple; }
:active { color: black; }

#navigation-bar {
	position: absolute;
	top: 3.7em;
	height: 200%;
	border-right: 1px dotted;
	border-top: 1px dotted;
	background-color: #92959a;
	/*
	margin-left: 0.15em;
	*/
}
#navigation {
	position: absolute;
	top: 3.7em;
	/*
	background-color: #e2c5ca;
	*/
	height: 60%;
	/*
	margin-left: 0.15em;
	*/
}
#navigation-bar, #navigation {
	left: 0;
	padding: 0 0 0 0.8em;
	width: 7.725em;
	font-size: 90%;
}

html>body #navigation {
	position: fixed;
	/*
	top: 3.7em;
	*/
}

html>body #navigation-bar {
	border-right: 1px dotted;
	height: 155%;
}

#navheader {
	margin: 0 0 0 0;
	color: #e9dcd5;
	display: none;
	display/**/: block;
}

html>body #navheader {
	margin: 1em 0 0 -.35em;
	color: black;
}

#header-bar {
	position: absolute;
	right: 0; top: 0;
	width: 90%;
	height: 2.25em;
	/*
	border: 1px solid;
	*/
	text-align: left;
	padding: 0.8em 0.8em 0em 0em;
	/*
	background-color: #c5b2ca;
	*/
}
#header {
	position: absolute;
	left: 0; top: 0;
	width: 90%;
	/*
	*/
	height: 2.25em;
	/*
	border: 1px solid;
	text-align: center;
	*/
	padding: 0.2em 1em 0em 0em;
	/*
	background-color: #c5b2ca;
	*/
}

h1.header {
	color: blue;
	font-size: 100%;
	text-align: right;
	/*
	*/
}

#content {
	margin: 1.5em 0.7em 0 0.5em;
	/*
	*/
	font-size: 90%;
	position: absolute;
	left: 8.75em;
	top: 2.75em;
	/*
	border: 1px solid;
	*/
}
html>body #content {
	margin: 0.0em 0.7em 0 0.5em;
}

#content li {
	/*
	padding: 0 0 0 0;
	border: 0px black solid;
	*/
	margin: 0.375% 0 0 0;
}

#navigation li {
	/*
	display: block;
	*/
	list-style: none;
	margin: 0.75em 0 0.75em 0;
	padding: 0 0 0 0;
}
#navigation ul {
	padding: 0 0 0 0;
	border: 0px black solid;
	border-width: 0 0 0 0;
	margin: 0;
}

.justified {
    text-align: justify;
}
h1 {
	margin-top: 0; margin-bottom: 0; border-bottom: none;
	border-left: none; border-right: none; padding-top: 0.1em;
	padding-bottom: 0; padding-left: 0; padding-right: 0;
	text-align: left; widows: 2; orphans: 2;
	color: #72151a;
	font-size: 140%
}
h2 {
	font-family: "Times New Roman", serif; font-size: 110%;
}
h3 {
	font-family: "Times New Roman", serif; font-size: 90%;
}

#sf-logo1 {
	text-align: left;
	float: left;
	width: 13%;
}
#sf-logo2 {
	width: 20%;
}

#footer {
	width: 100%;
	text-align: right;
}

p.largepar {
	margin: 1.15em 0 0 0;
}
