body { background-color: #e9dcd5; }
:link { color: blue; }
:visited { color: purple; }
:active { color: black; }
#navigation {
	position: absolute;
	position: fixed;
	left: 0; top: 0;
	font-size: 90%;
	/*
	margin-left: 0.15em;
	*/
	padding: 0 0 0 0.9em;
	width: 7.1em; height: 100%;
	background-color: #b2c5ca;
	border-right: 1px solid;
	/*
	*/
}

#header {
	position: absolute;
	left: 0; top: 0;
	width: 84.8%;
	height: 1.3em;
	/*
	border: 1px solid;
	text-align: center;
	*/
	padding: 0.75em 0.75em 0.75em 5.75em;
	background-color: #c5b2ca;
}

h1.header {
	color: red;
	font-size: 100%;
}

#content {
	margin: 0.75em 0.7em 0 0.5em;
	font-size: 90%;
	/*
	width: 75%;
	*/
	position: absolute;
	left: 8.75em;
	top: 3em;
	/*
	border: 1px solid;
	*/
}
#navigation li {
	display: block;
	margin: 0.75em 0 0.75em 0;
	padding: 0 0 0 0;
}
#navigation ul {
	padding: 0 0 0 0;
	border: 0px black solid;
	border-width: 0 0 0 0;
	margin: 0;
}

.justified {
    text-align: justify;
}
h1 {
	margin-top: 0cm; margin-bottom: 0cm; border-bottom: none;
	border-left: none; border-right: none; padding-top: 0.04cm;
	padding-bottom: 0cm; padding-left: 0cm; padding-right: 0cm;
	color: #000000; text-align: center; widows: 2; orphans: 2;
	font-size: 140%
}
h2 {
	font-family: "Times New Roman", serif; font-size: 110%;
}
h3 {
	font-family: "Times New Roman", serif; font-size: 90%;
}
#sf-logos {
}
p.largepar {
	margin: 1.15em 0 0 0;
}
